@model chopper1.Models.Week
@{
    ViewBag.Title = Model.Days[0].TVDate.Date.ToString("dd/MM/yyyy");
}

<h2>Программа передач Первого канала на @System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(Model.Days[0].TVDate.DayOfWeek), @Model.Days[0].TVDate.Date.ToString("dd/MM/yyyy")</h2>
<p id="messages"></p>

<div class="row week_bg">

    @{var i = 0;
    double dayRectWidth = 95.0 / 6;
    string dayRectWidthStr = dayRectWidth.ToString("#.##").Replace(",", ".") + "%";
    }

    @foreach (chopper1.ws1c.WeekTVDayType day in Model.Days)
    {
        
        Html.RenderAction("ConstructTimeScale", "Day", new { left = true, channelCode = day.KanalKod });
        <div id="@day.TVDayRef" class="dayrect" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: @dayRectWidthStr;">            
           @{Html.RenderAction("BroadcastDay", "Day", day);}
        </div>
            i += 1;        
    }
    @{Html.RenderAction("ConstructTimeScale", "Day", new { left = false, channelCode = 10 });}
    
</div>



<script>
    document.addEventListener("DOMContentLoaded", function a() {
        var source = new EventSource('checkdays');
        var myP = document.getElementById("messages");

        source.onmessage = function (event) {
            var result = event.data;
            @*myP.innerHTML += result;*@
            @*If result not empty - call actionresult to redraw a day*@
            if (result != "") {
                var xmlhttp;
                xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                        if (xmlhttp.status == 200) {
                            document.getElementById(result).innerHTML = xmlhttp.responseText;
                        }
                        else if (xmlhttp.status == 400) {
                            alert('There was an error 400')
                        }
                        else {
                            alert('something else other than 200 was returned')
                        }
                    }
                }
                xmlhttp.open("POST", "UpdateDayBroadcast", true);
                xmlhttp.setRequestHeader("dayID", result);
                xmlhttp.send(result);
            }

        };
        source.onerror = function (e) {
            console.log('error-error-error');
        };

    });

</script>