@model chopper1.Models.Week




@{
    ViewBag.Title = Model.Note;   
}

<h2>@Model.Note</h2>
@*
    <div>
        @Html.DisplayFor(model => model.DaysCount)
    </div>
*@

<div class="row week_bg">    
    @{Html.RenderAction("ConstructNormalTimeScale", "Day", new { left = true });}
    @{var i = 0;}
    @foreach (chopper1.ws1c.WeekTVDayType day in Model.Days)
    {        
        
        <div id="dayrect@(i)" class="dayrect" ondrop="drop(event)" ondragover="allowDrop(event)">    
        @*<div id="dow@(i)" class="dow-div">@Enum.Parse(typeof(DayOfWeek), i.ToString())</div>
            <div id="date@(i)" class="date-div">@day.TVDate.Date.ToString("dd/MM/yyyy")</div>
            <div id="shapka@(i)" class="shapka-div"></div>*@
        @{Html.RenderAction("ConstructDay", "Day", day);}

    </div>
        i += 1;

    }
    @{Html.RenderAction("ConstructNormalTimeScale", "Day", new { left = false });}
</div>


