@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @{

    ViewBag.Title = "Category Select";
    }


@using (Html.BeginForm("WeekChosen", "Weeks", FormMethod.Get))
{

    <fieldset>
        Movie Type
        @Html.DropDownList("Week", null, new { @onchange = "form.submit();" })
    </fieldset>

} 

</body>
</html>
