@model chopper1.Controllers.WeeksController.MyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @{

    ViewBag.Title = "Category Select";
    }
    @using (Html.BeginForm("WeekChosen", "Weeks", FormMethod.Get))
    {
        <fieldset>
            @Html.DropDownList("WeekID", (SelectList)ViewData["Weeks1"], new { @onchange = "form.submit();" })
        </fieldset>
    }
</body>
</html>
