@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Кажется, что-то пошло не так...</h1>
<div id="errorContainer" style="height:1000px">
    <div id="errorPic" style="float:left">
        <img src="~/Content/images/crashed_bike.jpg" />
    </div>
    <div id="errorImg" style="float:left; padding-left:50px">
        <h1 class="text-danger">Но вы держитесь здесь!</h1>
        <h1 class="text-danger">Вам всего доброго!</h1>
        <h1 class="text-danger">Хорошего настроения!</h1>
        <h1 class="text-danger">И здоровья!</h1>
    </div>
</div>




