#mb
{
    background:#429adb;
    margin:10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.headerPanel
{
    background:#429adb;    
    color:white;    
    text-align:center;
    

}

.tileGroup
{
    float:left;
    position:relative;
    border-top:1px solid #001b65;
    border-right:1px solid #001b65;
    border-left:1px solid #001b65;
    background: #0566bb;        
    overflow:hidden;
    text-align: center;    
    color: white;
} 

.tile
{ 
 float:left;
 position:relative;
 border-top:1px solid #001b65;
 border-right:1px solid #001b65;
 background: #429adb;    
 cursor:pointer;
 overflow:hidden;
     text-align: center;    

    color: white;

        -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}




#hidden {    
    background: #0566bb;
    height: 250px;    
    width:100%;
    position: absolute; 
    top: 0;
    left: 500px;    
    opacity: 1;    
    overflow:hidden;
    text-align: center;   
    
    color: white;
    display: inline-block;


    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}

.weekNameSpan
{
    display: inline-block;
    vertical-align: middle;
}

.weekNameContainer
{
    position: relative;
    display: inline-block;
    border: solid 0 black;
    line-height:normal;
    text-align:left;
    padding-left: 5px;
}

.tile:hover >#hidden {
  
    left: 0;
}



#rasklDd
{
    font-size:small;
}

.na 
{
    background:#acacac;
}

.bottom
{
    border-bottom:1px solid #001b65;
}

#WeekID
{
    width:100%;
    font-size:large;
    color: white;
    background: #429adb;  

}