.dayrectOrb
{    
    height: 1661px;
    background: linear-gradient(slategray 1px, aliceblue 1px);            
    background-size: 100% 60px;
    background-position-y:100px;
    border-right:solid 1px black;                            
    float:left;
    position:relative;     
}


.weekPickerContainer
{
    height: 50px;
    width: 95%;
    text-align:center;
    vertical-align:central;    
    border:solid black 0;    
}
.weekPickerArrow
{
    position: relative;
	top: 10%;
    float:left;
    width:10%;    
}

.orbdowDiv
{
        text-align:center;
        border: 1px solid black;        
        background-color:white;
        height:20px;
        color: black;
}

.orbNameDiv
{
    float:left;
    width:calc(100%/5);    
    border: 1px solid black;
    text-align:center;
    height:20px;
}




.width1
{
    width: calc((100%/5)*1);
}
.width2
{
    width: calc((100%/5)*2);
}
.width3
{
    width: calc((100%/5)*3);
}
.width4
{
    width: calc((100%/5)*4);
}
.width5
{
    width: calc((100%/5)*5);
}

.xpos0
{
    left: 0;
}
.xpos1
{
    left: calc((100%/5)*1);
}
.xpos2
{
    left: calc((100%/5)*2);
}
.xpos3
{
    left: calc((100%/5)*3);
}
.xpos4
{
    left: calc((100%/5)*4);
}


.profile-hover { 
    display: none; 
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    border: 0 solid #333;
    background: #429adb;
    width: 100%;
    text-align: center;
    color:white;

}
.prog:hover + div { display: block; }





#tail {
        position: absolute;
        float: left;
        top: -10px;
        border-top: 2px dashed red;
        width:80%;        
    }