.stolbyDay
{    
    width:98%;
    height: 2000px;
    margin:auto;
    float:none;
}

.stolbyChannel
{
    float: left;
    width: calc(98%/5);    
    font-size: x-small;
    padding-left: 1px;
    padding-right: 1px;
    border-right: 1px solid black;    
}
.stolbyChannelCaption
{
    text-align:center;
    font-weight:bold;
    font-size: 9pt;
    border:none;
}
.StolbyTimeStart
{
    vertical-align:top;
}
.StolbyCode
{
    vertical-align:top;
}
.stolbyDow
{
    border: none;
    font-size: medium;
    font-weight: bold;    
    height: 30px;
}
.sportProg
{
    background-color: lightgray;
}
.stolbyDayFoot
{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.varCode-div
{
    height: 20px;
    background-color:white;
    border: solid 0 black;
    text-align:center;
}

#VariantKod
{
    border: none;
    background:none;
}
#dowSwitch
{   
    position:absolute;
    right:0; 
    width:200px;
}
#dowCaption
{
    position:absolute;
    left:35%;    
    width:500px;
}
.dowlink
{
    height:50px;
    
}
