@{
    ViewBag.Title = "Home Page";
    var culture = new System.Globalization.CultureInfo("ru-RU");
    var day = culture.DateTimeFormat.GetDayName(DateTime.Today.DayOfWeek);
    day = day.Substring(0,1).ToUpper() + day.Substring(1);
}
@*
    <script>
        function contentLoaded() {
            var source = new EventSource('weeks/checkdays');
            var myP = document.getElementById("messages");
            source.onmessage = function (e) {
                myP.innerHTML += e.data;
            }
        }
        window.addEventListener("DOMContentLoaded", contentLoaded, false);

        <p><input type="date" id="last-start-date" value="@string.Format("{0:yyyy-MM-dd}", "2015-12-22")" /></p>
    </script>
*@
<div class="jumbotron">
    <h1>@day, @DateTime.Today.Date.ToString("dd/MM/yyyy")</h1>
    <p class="lead">Здесь будет чрезвычайно изящно изображена текущая сетка Первого канала и конкурентов.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<p id="messages"></p>