@model int
<div class="timescaleWrapper">
    @{

        var left = ViewBag.Left;
        string rulerClass = "";

        if (left)
        {
            rulerClass = "rulerDivLeft";
        }
        else
        {
            rulerClass = "rulerDivRight";
        }

        var startHour = 5;

        //var shift = (5 - (Model - 10)) * 2;
        var shift = 0;
        switch (Model)
        {
            case 41:
                shift = -1;
                break;
            default:
                shift = Model - 30;
                break;
        }




        if (Model != 30 & Model > 0)
        {
            startHour -= shift;
        }

        if (startHour < 0)
        {
            startHour += 24;
        }


        int curHour;
        string curHourStr;


                }

    <div class=@rulerClass>
        <ul class="ruler-ul">
            @{
                for (int i = 0; i < 26; i++)
                {
                    curHour = startHour + i;
                    if (curHour >= 24)
                    {
                        curHour -= 24;
                    }
            curHourStr = curHour.ToString();
                    if (curHourStr.Length == 1)
                    {
                        curHourStr = "0" + curHourStr;
                    }

                    <li>@curHourStr</li>
                }
            }
        </ul>
    </div>
    @{
        if (!left)
        {
            <div class="rightMarginDiv"></div>
        }
        else
        {
            <div class="leftMarginDiv"></div>
        }
    }
</div>