@{
    var left = ViewBag.Left;
    if (left)
    {
        <div class="margin-div"></div>
    }
}
<div class="ruler-div">
    <ul class="ruler-ul">
        <li>05</li>
        <li>06</li>
        <li>07</li>
        <li>08</li>
        <li>09</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>00</li>
        <li>01</li>
        <li>02</li>
        <li>03</li>
        <li>04</li>
        <li>05</li>
        <li>06</li>
    </ul>
</div>
@{
    if (!left)
    {
        <div class="margin-div"></div>
    }
}