@model chopper1.Models.Day
@{
    Layout = null;
    string day_num = Model.TVDate.DayOfWeek.ToString();
    int chanCode = Model.KanalKod;
    DateTime dt = Model.TVDate;
    string baseShare = System.Configuration.ConfigurationManager.AppSettings["ControlShareBaseLevel"];
    string step = System.Configuration.ConfigurationManager.AppSettings["ControlShareStep"];
    string chStr = "";

    switch (Model.KanalKod)
    {
        case 10:
            chStr = "Первый канал";
            break;
        case 42:
            chStr = "Россия-1";
            break;
        case 43:
            chStr = "НТВ";
            break;
        case 52:
            chStr = "СТС";
            break;
        case 51:
            chStr = "ТНТ";
            break;
        case 53:
            chStr = "ТВЦ";
            break;
    }
}
<div id="dow@(day_num)" class="dow-div">@chStr</div>
<div id="var@(day_num)" class="varCode-div">
    @{
        if (Model.KanalKod == 10)
        {
            <a href="@Url.Action("Svodka", "Weeks", new { bdate = Model.TVDate.ToString("yyyy-MM-dd") }, null)">Сводка</a>
        }
    }    
</div>
<div id="shapka@(chanCode)" class="shapka-div">
    <input type="checkbox" value="None" id="color@(chanCode)" name="color@(chanCode)" class="ControlCb" onchange="toggleCheckbox(this)"/> Контрольная доля<br />
    <div class="input_container" id="baseStepContainer@(chanCode)" style="width:95%; display:none" >
        <label>Доля</label>
        <input type="text" value="@baseShare" id="base@(chanCode)" name="base@(chanCode)" class="" onchange="colorProgs(@chanCode)" style="width:20%;height:16px"/>
        <label>Шаг</label>
        <input type="text" value="@step" id="step@(chanCode)" name="step@(chanCode)" class="" onchange="colorProgs(@chanCode)" style="width:20%;height:16px"/>
    </div>
    <div class="input_container" id="serviceContainer@(chanCode)" style="width:100%; display:none;margin-top:0px">
        <form   style="font-size:12px">
            <label class="radio-inline">
                <input id="sti@(chanCode)" type="radio" name="optradio" checked="checked" onchange="colorProgs(@chanCode)">СТИ+
            </label>
            <label class="radio-inline">
                <input id="dm@(chanCode)" type="radio" name="optradio" onchange="colorProgs(@chanCode)">Mos
            </label>
            <label class="radio-inline">
                <input id="dr@(chanCode)" type="radio" name="optradio" onchange="colorProgs(@chanCode)">Rus
            </label>
        </form>
    </div>
</div>

@foreach (chopper1.Models.Efir efir in Model.RatEfirs)
{
    if (efir.Timing >= 60 * 2)
    {
        Html.RenderAction("ConstructRatEfir", "Efir", new { curEfir = efir, curDay = dt, chCode = chanCode, useTitle = true });
    }
}

